.form {
    border: 3px solid #ccc;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
input[type=text]{
    width: 40%;
    height: 1.5rem;
}
input[type=password]{
    width: 40%;
    height: 1.5rem;
}
.form-field{
    justify-content: center;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.form h1{
    text-align: center;
}
#email{
    margin-left: 7%;
}
#password{
    margin-left: 4.8%;
}